{% extends "layout.html" %}

{% block extra_css %}
    <link rel = "stylesheet" href="{{ url_for('static', filename='sign_up.css') }}">
{% endblock %}

{% block content %}


<h1>Reset Password</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}  <!-- This includes the CSRF token for protection -->
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </div>

        <div>
            {{ form.ConfirmPassword.label }}
            {{ form.password }}
        </div>

        <div>
            {{ form.submit() }}        <!-- Submit button -->
        </div>
    </form>

{% endblock content %}